# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
- List the popular languages in Data Science
- List some libraries used in Data Science
- Insert code and markdown cells

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. C++
5. Java

Some of the commonly used libraries used by Data Scientists include:
- Pandas
- Numpy
- ScikitLearn
- Keras
- ggplot

|Data Science Tools|
|------------------|
|Kubernetes|
|Apache Airflow|
|MySQL|
|GitHub|

#### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Jean-Marc Mukalay